
@model ViewModel.MasterViewModel
@using Model
@{
    ViewBag.Title = "Status Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderIncludes
{
    <script type="text/javascript" src="~/Scripts/Services/EmployeeStatusService.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/EmployeeStatusController.js"></script>
}
<div class="container">

    <div class="middlewrap">
        <h3 class="title"> <span>Status Type</span> </h3>      
        @Html.Partial("~/Views/Controls/EmployeeStatusListView.cshtml")
        @Html.Partial("~/Views/Controls/EmployeeStatusDetailsView.cshtml")
    </div>
</div>

