
@model ViewModel.MasterViewModel
@using Model

<div id="documentTypeListView" class="listView">


    <form class="form-inline">
        <input type="text"
               data-search-fields="Description"
               data-search-list="documentTypeGrid"
               data-default-focus="true" />
    </form>
    <div class="form-group mt-md"><button type="button" class="btn" ng-click="ub.NewForm('documentTypeDetailsForm', true, null)">New Document Type</button></div>
    <table id="documentTypeGrid"
           data-ui-binding="true"
           data-entity-key="DocumentTypeID"
           data-service-object="documentTypeService"
           data-default-orderby="Description"
           class="table table-condensed table-hover"
           data-page-size="10">

        @*<tr>
                <td>

                </td>
            </tr>*@

        <tr>
            <th><a href="#" data-sort-field="DocumentTypeID">Document Type ID</a></th>
            <th><a href="#" data-sort-field="Description">Description</a></th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tbody ng-repeat="r in rows">
            <tr alt=$index%2>
                <td class="col-md-1"> <span>{{r.DocumentTypeID}}</span></td>
                <td class="col-md-1"> <span>{{r.Description}}</span></td>
                <td class="col-md-1"><img src="~/Content/images/edit.png" alt="edit" height="20" ng-click="ub.LoadForm('documentTypeDetailsForm',  r.DocumentTypeID , true, null)" /></td>
                <td class="col-md-1"><img src="~/Content/images/delete.png" alt="delete" height="20" ng-click="lb.Delete(r.DocumentTypeID, null , ub.documentTypeDeleteCallback)" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="center">
                    <div id="documentTypePagination">
                        <span>{{pageText}}</span>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()"><span><<</span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()"><span><</span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()"><span>></span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()"><span>>></span></button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

