@model ViewModel.MasterViewModel
@using Model

<div id="EmployeeStatusDetailsWindow" class="detailsWindow">

    <form id="EmployeeStatusDetailsForm"
          name="EmployeeStatusDetailsForm"
          data-ui-binding="true"
          data-service-object="EmployeeStatusService"
          data-associated-list="EmployeeStatusGrid"
          method="get" action="" class="form-horizontal" role="form">

        <div class="modal-body container-fluid">

            <div id="EmployeeStatusErrorDisplay" class="EmployeeStatusErrorDisplay" data-error-display="true"></div>


            <fieldset>
                <legend>General Information</legend>

                <div class="form-group">
                    <input type="hidden" ng-model="model.StatusID" />
                </div>

                <div class="form-group">
                    <label class="col-sm-2 alignlbls">Status</label>
                    <div class="col-sm-4">
                        <input type="text" name="em_Status" id="em_Status" ng-model="model.Status" class="required form-control" maxlength="500" />
                    </div>   
                    <label class="col-sm-2 alignlbls">Description</label>                   
                    <div class="col-sm-4">
                        <input type="text" name="em_Description" id="em_Description" ng-model="model.Description" class="required form-control" maxlength="500" />
                    </div>                
                </div>
            </fieldset>
        </div>

        <div class="modal-footer">
            <div class="editor-label">
                <button class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="fb.HideForm(true)">Cancel</button>
            </div>
        </div>
    </form>
</div>

