
@model ViewModel.MasterViewModel
@using Model

<style>.tbl-scroll{height:350px;overflow-y:auto;}</style>

<div class="listView" id="employeeListView">
    <div class="middlewrap">
               
        <h3 class="title"> <span>Employees</span> </h3>

        

        <div class="table-responsive tbl-scroll">
            <table class="table table-condensed table-hover"
                   id="employeeGrid"
                   data-ui-binding="true"
                   data-entity-key="EmployeeID"
                   data-service-object="employeeService"
                   data-default-orderby="FirstName"
                   cellspacing="0" cellpadding="0" border="0"
                   data-page-size="10">
                <thead class="tblaction">
                    <tr>
                        <td colspan="6">
                            <div class="form-group m-0">
                                <input type="text"
                                       data-search-fields="FullName"
                                       data-search-list="employeeGrid"
                                       data-default-focus="true" />
                                &nbsp;
                                <button type="button" ng-click="ub.NewForm('employeeDetailsForm', true, 'EmployeeNewCallback')">Add New</button>                                
                            </div>
                        </td>
                    </tr>
                </thead>
                
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th class="text-left">Employee Code</th>
                            @*<th class="text-center">Role</th>
                            <th class="text-center">DOJ</th>
                            <th class="text-left address">Address</th>*@
                            <th class="text-left">Phone</th>         
                            <th class="text-left">Status</th>                           
                            <th class="text-left">Manage Roles</th>
                            <th class="text-left">Documents</th>
                            <th class="text-left">Edit</th>
                        </tr>
                    </thead>

                
                    <tbody ng-repeat="r in rows">
                        
                        <tr alt=$index%2>
                            <td>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="~/Content/images/noimg.jpg" alt="personimg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="ename">{{r.FullName}}</p>
                                        <a class="eemail" href="mailto:{{r.Email}}">{{r.Email}}</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-left">{{r.EmployeeCode}}</td>
                            @*<td class="text-center">Team Lead</td>
                            <td class="text-center">{{r.DateOfBirth| date:"MM/dd/yyyy" }}</td>
                            <td class="text-left address">
                                {{r.PermanentAddressLine1}}<br>
                                {{r.PermanentAddressLine2}}<br>
                                {{r.PermanentAddressLine3}} {{r.PermanentAddressState}},{{r.PermanentAddressZip}}
                            </td>*@
                            <td class="text-left">{{r.Phone}}</td>
                            <td class="text-left">{{r.StatusName}}</td>
                            <td class="text-left"><a href="/ManageRoles?employeeID={{r.EmployeeID}}">Manage Roles</a></td>
                            <td class="text-left"><a href="/EmployeeDocument?employeeID={{r.EmployeeID}}">Documents</a></td>
                            <td class="text-left"><a href='javascript:;' ng-click="ub.LoadForm('employeeDetailsForm',  r.EmployeeID , true, null)">Edit</a></td>
                    </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" align="center">
                            <div id="monthPagination">
                                <span>{{pageText}}</span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()"><span><<</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()"><span><</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()"><span>></span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()"><span>>></span></button>                               
                            </div>
                        </td>
                    </tr>
                </tfoot>
</table>
        </div>

    </div>
</div>
