
@model ViewModel.MasterViewModel
@using Model

<div class="modal fade" id="StatusDialog" role="dialog" aria-hidden="true">
    <form id="employeeStatusHistoryDetailsForm"
          name="employeeStatusHistoryDetailsForm"
          data-ui-binding="true"
          data-service-object="employeeStatusHistoryExtendService"
          data-associated-list="employeeStatusDetailsForm"
          method="get" class="col-xs-12 col-sm-12" action="" role="form" 
          data-save-callback="closeStatusHistoryPopup">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Status change</h3>
                </div>
                <div class="modal-body">
                    <div id="employeeErrorDisplay" class="employeeErrorDisplay" data-error-display="true"></div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EmployeeStatus">Old Status</label>
                                
                                <br />
                                <span>{{model.CurrentStatus}}</span>
                                <span id="lblStartDate">{{model.EmployeeID}}</span>

                                <input type="hidden" name="em_EmployeeOldStatus" id="em_EmployeeOldStatus" class="form-control" ng-model="model.NewStatusID" />
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_StartDate">Start Date</label>
                                <br />
                                @*<input type="text" name="em_StartDate" id="em_StartDate" ng-model="model.StartDate" class="form-control" date-Picker />*@
                                @*<span>{{model.StartDate}}</span>*@
                                <span id="lblStartDate">{{model.StartDate | date:'dd/MM/yyyy'}}</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EndDate">End Date</label>
                                <br />
                                <input type="text" name="em_EndDate" id="em_EndDate" ng-model="model.EndDate" class="form-control" date-Picker />
                                @*<span>{{model.EndDate}}</span>*@
                                @*<label id="lblEndDate"></label>*@

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EmployeeStatus">New Status</label>
                                <select name="em_EmployeeNewStatus" id="em_EmployeeNewStatus" class="form-control required" ng-model="model.Status_New">
                                    <option value="">Please select</option>
                                    @foreach (var item in Model.EmployeeStatus)
                                    {
                                        <option value="@(item.StatusID)">@(item.Status)</option>
                                    }

                                </select>

                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_StartDate">Start Date</label>
                                <br />
                                <input type="text" name="em_StartDate_New" id="em_StartDate_New" ng-model="model.StartDate_New" class="form-control" date-Picker />


                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EndDate">End Date</label>
                                <br />
                                <input type="text" name="em_EndDate" id="em_EndDate" ng-model="model.EndDate_New" class="form-control" date-Picker />

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_StartDate">Note</label>
                                <textarea name="Note" style="height:100px;width:170px;" id="statusNote" ng-model="model.StatusNote_New" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">                                
                                <input type="submit" id="saveStatus" class="btn btn-primary btn-sm" value="Save changes"/>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>



