
@model ViewModel.MasterViewModel
@using Model

<style>.tbl-scroll{height:auto;}</style>

<div class="listView" id="employeeListView">
    <div class="middlewrap">
               
        

        <div class="table-responsive tbl-scroll">
            <h3 class="title"> <span>Employees</span> </h3>
            <table class="table table-condensed table-hover"
                   id="employeeGrid"
                   data-ui-binding="true"
                   data-entity-key="EmployeeID"
                   data-service-object="employeeService"
                   data-default-orderby="FirstName"
                   cellspacing="0" cellpadding="0" border="0"
                   data-page-size="10">
                <thead class="tblaction">
                    <tr>
                        <td colspan="6">
                            <div class="form-group m-0">
                                <input type="text"
                                       data-search-fields="FullName, Email, Phone"
                                       data-search-list="employeeGrid"
                                       data-default-focus="true" />
                                &nbsp;
                                <button type="button" ng-click="ub.NewForm('employeeDetailsForm', true, 'EmployeeNewCallback')">Add New</button>                                
                            </div>
                        </td>
                    </tr>
                </thead>
                
                    <thead>
                        <tr>
                            <th><a href="#" data-sort-field="FullName">Employee Name</a></th>
                            @*<th class="text-center">Role</th>
                            <th class="text-center">DOJ</th>
                            <th class="text-left address">Address</th>*@
                            <th class="text-left">Phone</th>         
                            <th class="text-left">Status</th>                                                   
                            <th class="text-left">Manage Roles</th>
                            <th class="text-left">Documents</th>
                            <th class="text-left">Edit</th>
                            <th class="text-left">Disable</th>
                        </tr>
                    </thead>

                
                    <tbody>
                        
                        <tr alt=$index%2  ng-repeat="r in rows">
                            <td>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="~/Content/images/noimg.jpg" alt="personimg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="ename">{{r.FullName}}</p>
                                        <a class="eemail" href="mailto:{{r.Email}}">{{r.Email}}</a> {{r.EmployeeCode}}

                                    </div>
                                </div>
                            </td>
                            
                            @*<td class="text-center">Team Lead</td>
                            <td class="text-center">{{r.DateOfBirth| date:"MM/dd/yyyy" }}</td>
                            <td class="text-left address">
                                {{r.PermanentAddressLine1}}<br>
                                {{r.PermanentAddressLine2}}<br>
                                {{r.PermanentAddressLine3}} {{r.PermanentAddressState}},{{r.PermanentAddressZip}}
                            </td>*@
                            <td class="text-left">{{r.Phone}}</td>
                            @*<td class="text-left">{{r.StatusName}}</td>*@
                                                      
                            <td class="text-left">
                                <a href="/EmployeeStatusHistory?employeeID={{r.EmployeeID}}">
                                    <img src="~/Content/images/manage-status-icon.png" alt="Manage Status" title="Manage Status" width="30" />
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="/ManageRoles?employeeID={{r.EmployeeID}}">
                                    <img src="~/Content/images/manager-role-icon.png" alt="Manage Roles" title="Manage Roles" width="30" />
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="/EmployeeDocument?employeeID={{r.EmployeeID}}">
                                    <img src="~/Content/images/manage-document-icon.png" alt="Manage Documents" title="Manage Documents" width="30"/>
                                </a>
                            </td>
                            <td class="text-left">
                                <a href='javascript:;' ng-click="ub.LoadForm('employeeDetailsForm',  r.EmployeeID , true, null)">
                                    <img src="~/Content/images/edit.png" alt="Edit" title="Edit" width="30"/>
                                </a>
                            </td>
                            <td class="text-left">
                                <a href='javascript:;' ng-click="ub.DisableEmployee(r.EmployeeID)" ng-class="{'not-active':r.IsDisabled}">
                                    <img src="~/Content/images/delete.png" alt="Disable" title="Disable" width="30" />
                                </a>
                            </td>
                            </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" align="center">
                            <div id="monthPagination">
                                <span>{{pageText}}</span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()"><span><<</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()"><span><</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()"><span>></span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()"><span>>></span></button>                               
                            </div>
                        </td>
                    </tr>
                </tfoot>
</table>
        </div>

    </div>
</div>
