
@model ViewModel.MasterViewModel
@using Model

<style>
    #employeeStatusHistoryDetailsForm .modal-content {
        width: 700px;
        height : 800px;
        overflow-y: auto;
    }
</style>
<div class="modal fade" id="StatusDialog" role="dialog" aria-hidden="true">
    <form id="employeeStatusHistoryDetailsForm"
          name="employeeStatusHistoryDetailsForm"
          data-ui-binding="true"
          data-service-object="employeeStatusHistoryExtendService"
          data-associated-list="employeeStatusHistoryGrid"
          method="get" class="col-xs-12 col-sm-12" action="" role="form" 
          data-save-callback="closeStatusHistoryPopup">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Change Status</h3>
                </div>
                <div class="modal-body">
                    <div id="employeeErrorDisplay" class="employeeErrorDisplay" data-error-display="true"></div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EmployeeStatus">Old Status</label>
                                
                                <br />
                                <span>{{model.CurrentStatus}}</span>
                                
                                <input type="hidden" name="em_EmployeeOldStatus" id="em_EmployeeOldStatus" class="form-control" ng-model="model.NewStatusID" />
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_StartDate">Start Date</label>
                                <br />
                                @*<input type="text" name="em_StartDate" id="em_StartDate" ng-model="model.StartDate" class="form-control" date-Picker />*@
                                @*<span>{{model.StartDate}}</span>*@
                                <span id="lblStartDate">{{model.StartDate | date:'dd/MM/yyyy'}}</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EndDate">End Date</label>
                                <br />
                                <input type="text" name="em_EndDate" id="em_EndDate" ng-model="model.EndDate" class="form-control" date-Picker />
                                @*<span>{{model.EndDate}}</span>*@
                                @*<label id="lblEndDate"></label>*@

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EmployeeStatus">New Status</label><i class="lblRequired">*</i>
                                <select name="em_EmployeeNewStatus" id="em_EmployeeNewStatus" class="form-control required" ng-model="model.Status_New">
                                    <option value="">Select Status</option>
                                    @foreach (var item in Model.EmployeeStatus)
                                    {
                                    <option value="@(item.StatusID)">@(item.Status)</option>
                                    }

                                </select>

                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_StartDate">Start Date</label>
                                <br />
                                <input type="text" name="em_StartDate_New" id="em_StartDate_New" ng-model="model.StartDate_New" class="form-control" date-Picker />


                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_EndDate">End Date</label>
                                <br />
                                <input type="text" name="em_EndDate" id="em_EndDate" ng-model="model.EndDate_New" class="form-control" date-Picker />

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="em_StartDate">Note</label>
                                <textarea name="Note" style="height:100px;width:170px;" id="statusNote" ng-model="model.StatusNote_New" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div ng-show="model.Status_New == @Convert.ToInt32(HRMS.Helper.EmployeeStatus.FullAndFinal)">
                        <div class="row" ng-show="model.Employee.Salaries.length > 0">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Employee Name:</label>
                                    <label id="empName" ng-bind="model.Employee.FullName"></label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Employee Code:</label>
                                    <label id="empCode" ng-bind="model.Employee.EmployeeCode"></label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Month: @DateTime.Now.ToString("MMMM") </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="model.Employee.Salaries.length > 0">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Bank Account Number:</label>
                                    <label id="bankAccNo" ng-bind="model.Employee.SalaryAccountNumber"></label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Bank Name:</label>
                                    <label id="bankName" ng-bind="model.Employee.SalaryAccountBank"></label>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="m in model.Employee.Salaries">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p class="midtitle">General Details</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group row">
                                        <label for="Basic" class="col-sm-4 control-label">Basic</label>
                                        <div class="col-sm-8"><input type="text" name="em_Basic" id="em_Basic" ng-model="m.Basic" class="required number form-control col-md-8" maxlength="500" /></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="HRA" class="col-sm-4 control-label">HRA</label>
                                        <div class="col-sm-8"><input type="text" name="em_HRA" id="em_HRA" ng-model="m.HRA" class="required number form-control" maxlength="500" /></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="ConveyanceAllowance" class="col-sm-4 control-label">Conveyance Allowance</label>
                                        <div class="col-sm-8"><input type="text" name="em_ConveyanceAllowance" id="em_ConveyanceAllowance" ng-model="m.ConveyanceAllowance" class="required number form-control" maxlength="500" /></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="OtherAllowance" class="col-sm-4 control-label">Other Allowance</label>
                                        <div class="col-sm-8"><input type="text" name="em_OtherAllowance" id="em_OtherAllowance" ng-model="m.OtherAllowance" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="MedicalReimbursement" class="col-sm-4 control-label">Medical Reimbursement</label>
                                        <div class="col-sm-8"><input type="text" name="em_MedicalReimbursement" id="em_MedicalReimbursement" ng-model="m.MedicalReimbursement" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="AdvanceSalary" class="col-sm-4 control-label">Advance/Arrear Salary</label>
                                        <div class="col-sm-8"><input type="text" name="em_AdvanceSalary" id="em_AdvanceSalary" ng-model="m.AdvanceSalary" class="required number form-control" maxlength="500" /></div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6">

                                    <div class="form-group row">
                                        <label for="Incentive" class="col-sm-4 control-label">Incentive</label>
                                        <div class="col-sm-8"><input type="text" name="em_Incentive" id="em_Incentive" ng-model="m.Incentive" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="PLI" class="col-sm-4 control-label">PLI</label>
                                        <div class="col-sm-8"><input type="text" name="em_PLI" id="em_PLI" ng-model="m.PLI" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="Exgratia" class="col-sm-4 control-label">Ex-gratia/PL Encashed/Other</label>
                                        <div class="col-sm-8"><input type="text" name="em_Exgratia" id="em_Exgratia" ng-model="m.Exgratia" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="ReimbursementOfexp" class="col-sm-4 control-label">Reimbursement Of exp</label>
                                        <div class="col-sm-8"><input type="text" name="em_ReimbursementOfexp" id="em_ReimbursementOfexp" ng-model="m.ReimbursementOfexp" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="Total" class="col-sm-4 control-label">Total</label>
                                        <div class="col-sm-8"><input type="text" name="em_Total" id="em_Total" ng-model="m.Total" class="required number form-control" maxlength="500" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p class="midtitle">Deductions</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">


                                    <div class="form-group row">
                                        <label for="TDS" class="col-sm-4 control-label">TDS</label>
                                        <div class="col-sm-8"><input type="text" name="em_TDS" id="em_TDS" ng-model="m.TDS" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="EPF" class="col-sm-4 control-label">EPF</label>
                                        <div class="col-sm-8"><input type="text" name="em_EPF" id="em_EPF" ng-model="m.EPF" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="ProfessionalTax" class="col-sm-4 control-label">Professional Tax</label>
                                        <div class="col-sm-8"><input type="text" name="em_ProfessionalTax" id="em_ProfessionalTax" ng-model="m.ProfessionalTax" class="required number form-control" maxlength="500" /></div>
                                    </div>



                                </div>
                                <div class="col-md-6 col-sm-6">


                                    <div class="form-group row">
                                        <label for="Leave" class="col-sm-4 control-label">Leave</label>
                                        <div class="col-sm-8"><input type="text" name="em_Leave" id="em_Leave" ng-model="m.Leave" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="Advance" class="col-sm-4 control-label">Advance</label>
                                        <div class="col-sm-8"><input type="text" name="em_Advance" id="em_Advance" ng-model="m.Advance" class="required number form-control" maxlength="500" /></div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p class="midtitle">Payments</p>

                                    <div class="form-group row">
                                        <label for="Salary" class="col-sm-4 control-label">Salary</label>
                                        <div class="col-sm-8"><input type="text" name="em_Salary" id="em_Salary" ng-model="m.Salary1" class="required number form-control" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="TotalPayment" class="col-sm-4 control-label">Total Payment</label>
                                        <div class="col-sm-8"><input type="text" name="em_TotalPayment" id="em_TotalPayment" ng-model="m.TotalPayment" class="required number form-control" maxlength="500" /></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <p class="midtitle">YTD Summary</p>

                                    <div class="form-group row">
                                        <label for="YTDS" class="col-sm-4 control-label">YTDS deducted</label>
                                        <div class="col-sm-8"><input type="text" name="em_YTDS" id="em_YTDS" ng-model="m.YTDS" class="form-control number" maxlength="500" /></div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="Note" class="col-sm-4 control-label">Note</label>
                                        <div class="col-sm-8"><input type="text" name="em_Note" id="em_Note" ng-model="m.Note" class="form-control" maxlength="500" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>



