@model ViewModel.MasterViewModel
@using Model

<div id="EmployeeStatusHistoryListView" class="listView">


    @*<form class="form-inline">

        </form>*@
    @*<div class="form-group mt-md"></div>*@
    <select id="employeeStatusFilter" data-filter-list="employeeStatusDetailsForm" style="display:none" data-filter-field="EmployeeID">
        <option value="@ViewBag.EmployeeID">@ViewBag.EmployeeID</option>
    </select>
    <table id="employeeStatusDetailsForm"
           data-ui-binding="true"
           data-entity-key="EmployeeStatusID"
           data-service-object="employeeStatusHistoryService"
           data-default-orderby="EmployeeStatusID"
           class="table table-condensed table-hover"
           data-page-size="10">
        <thead>
            <tr><td>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#StatusDialog" ng-click="ub.LoadForm('employeeStatusHistoryDetailsForm',rows[0].EmployeeID, false,null)">
                        Change Status
                    </button>
                </td></tr>
        </thead>
        <tr>

            <th><a href="#" data-sort-field="EmplyeeStatusId">EmplyeeStatusId</a></th>
            <th><a href="#" data-sort-field="Employee">Employee</a></th>
            <th><a href="#" data-sort-field="Employee">EmployeeID</a></th>
            <th><a href="#" data-sort-field="EmployeeStatus">Employee Status</a></th>
            <th><a href="#" data-sort-field="StartDate">Start Date</a></th>
            <th><a href="#" data-sort-field="EndDate">End Date</a></th>
            <th><a href="#" data-sort-field="StatusNote">Status Note</a></th>
        </tr>
        <tbody ng-repeat="r in rows">
            <tr alt=$index%2>
                <td class="col-md-1"> <span>{{r.EmployeeStatusID}}</span></td>
                <td class="col-md-1"> <span>{{r.Employee}}</span></td>
                <td class="col-md-1"> <span>{{r.EmployeeID}}</span></td>
                <td class="col-md-1"> <span>{{r.EmployeeStatus.Status}}</span></td>
                <td class="col-md-1"> <span>{{r.StartDate | date:'dd/MM/yyyy'}}</span></td>
                <td class="col-md-1"> <span>{{r.EndDate | date:'dd/MM/yyyy'}}</span></td>
                <td class="col-md-1"> <span>{{r.StatusNote}}</span></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="center">
                    <div id="EmployeeStatusPagination">
                        <span>{{pageText}}</span>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()"><span><<</span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()"><span><</span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()"><span>></span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()"><span>>></span></button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

