
@model ViewModel.MasterViewModel
@using Model

<div class="middlewrap">
    <div class="row detailsWindow" id="employeeDetailsWindow">

        <form id="employeeDetailsForm"
              name="employeeDetailsForm"
              data-ui-binding="true"
              data-service-object="employeeService"
              data-associated-list="employeeGrid"
              method="get" class="col-xs-12 col-sm-12" action="" role="form">

            <div id="employeeErrorDisplay" class="employeeErrorDisplay" data-error-display="true"></div>
            <div class="row">
                <div class="col-md-12">
                    <br><input type="file"><br>
                </div>
            </div>

            <p class="midtitle">General Information</p>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input type="hidden" ng-model="model.EmployeeID" />
                        <label for="empcode">Employee Code</label>
                        <input type="text" class="form-control" id="empcode">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="Designation">Designation</label>



                        <select id="em_DesignationID" name="em_DesignationID" class="form-control" ng-model="model.DesignationID" value={{model.DesignationID}}>
                            @*<option ng-repeat="option in Model.Designations" value="{{option.DesignationID}}">{{option.DesignationName}}</option>*@

                            @foreach (var item in Model.Designations)
                            {
                                <option value="@(item.DesignationID)">@(item.DesignationName)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" name="em_FirstName" id="em_FirstName" ng-model="model.FirstName" class="required form-control" maxlength="500" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="em_LastName" id="em_LastName" ng-model="model.LastName" class="required form-control" maxlength="500" />

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Phone No.</label>
                        <input type="text" class="form-control" ng-model="model.Phone" id="phoneno">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Full Name</label>
                        <input type="text" name="em_FullName" id="em_FullName" ng-model="model.FullName" class="required form-control" maxlength="500" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Date of Birth</label>
                        <input type="text" name="em_DateOfBirth" id="em_DateOfBirth" ng-model="model.DateOfBirth" class="form-control" date-Picker />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Email</label>
                        <input type="text" name="em_Email" id="em_Email" ng-model="model.Email" class="form-control" />
                    </div>
                </div>
            </div>
            <p class="midtitle">Address/ Communication</p>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address 1</label>
                        <input type="text" name="em_PermanentAddressLine1" id="em_PermanentAddressLine1" ng-model="model.PermanentAddressLine1" class="form-control" maxlength="500" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address 2</label>
                        <input type="text" name="em_PermanentAddressLine2" id="em_PermanentAddressLine2" ng-model="model.PermanentAddressLine2" class="form-control" maxlength="500" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address 3</label>
                        <input type="text" name="em_PermanentAddressLine3" id="em_PermanentAddressLine3" ng-model="model.PermanentAddressLine3" class="form-control" maxlength="500" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address City</label>
                        <input type="text" name="em_PermanentAddressCity" id="em_PermanentAddressCity" ng-model="model.PermanentAddressCity" class="form-control" maxlength="50" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address State</label>
                        @*<input type="text" name="em_PermanentAddressState" id="em_PermanentAddressState" ng-model="model.PermanentAddressState" class="form-control" maxlength="50" />*@
                        <select name="em_PermanentAddressState" id="em_PermanentAddressState" value="model.PermanentAddressState" ng-model="model.PermanentAddressState" class="form-control">
                            <option value="">Select</option>
                            <option value="AndamanandNicobar">Andaman and Nicobar</option>
                            <option value="AndhraPradesh">Andhra Pradesh</option>
                            <option value="ArunachalPradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="DadraandNagarHaveli">Dadra and Nagar Haveli</option>
                            <option value="DamanandDiu ">Daman and Diu</option>
                            <option value="NewDelhi">New Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="HimachalPradesh">Himachal Pradesh</option>
                            <option value="JammuandKashmir">Jammu and Kashmir </option>
                            <option value="Jharkhand">Jharkhand </option>
                            <option value="Karnataka">Karnataka </option>
                            <option value="Kerala">Kerala </option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra </option>
                            <option value="Manipur">Manipur </option>
                            <option value="Meghalaya">Meghalaya </option>
                            <option value="Mizoram">Mizoram </option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Punjab">Punjab </option>
                            <option value="Rajasthan">Rajasthan </option>
                            <option value="Sikkim">Sikkim </option>
                            <option value="TamilNadu">Tamil Nadu </option>
                            <option value="Telangana">Telangana </option>
                            <option value="Tripura">Tripura</option>
                            <option value="UttarPradesh">Uttar Pradesh </option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address Country</label>
                        <input type="text" name="em_PermanentAddressCountry" id="em_PermanentAddressCountry" ng-model="model.PermanentAddressCountry" class="form-control" maxlength="50" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Permanent Address Zip</label>
                        <input type="text" name="em_PermanentAddressZip" id="em_PermanentAddressZip" ng-model="model.PermanentAddressZip" class="form-control" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address 1</label>
                        <input type="text" name="em_AddressLine1" id="em_AddressLine1" ng-model="model.AddressLine1" class="form-control" maxlength="100" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address 2</label>
                        <input type="text" name="em_AddressLine2" id="em_AddressLine2" ng-model="model.AddressLine2" class="form-control" maxlength="100" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address 3</label>
                        <input type="text" name="em_AddressLine3" id="em_AddressLine3" ng-model="model.AddressLine3" class="form-control" maxlength="100" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address City</label>
                        <input type="text" name="em_AddressCity" id="em_AddressCity" ng-model="model.AddressCity" class="form-control" maxlength="50" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address State</label>
                        @*<input type="text" name="em_AddressState" id="em_AddressState" ng-model="model.AddressState" class="form-control" maxlength="100" />*@
                        <select name="em_AddressState" id="em_AddressState" ng-model="model.AddressState" value="model.AddressState" class="form-control">
                            <option value="">Select</option>
                            <option value="AndamanandNicobar">Andaman and Nicobar</option>
                            <option value="AndhraPradesh">Andhra Pradesh</option>
                            <option value="ArunachalPradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="DadraandNagarHaveli">Dadra and Nagar Haveli</option>
                            <option value="DamanandDiu ">Daman and Diu</option>
                            <option value="NewDelhi">New Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="HimachalPradesh">Himachal Pradesh</option>
                            <option value="JammuandKashmir">Jammu and Kashmir </option>
                            <option value="Jharkhand">Jharkhand </option>
                            <option value="Karnataka">Karnataka </option>
                            <option value="Kerala">Kerala </option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra </option>
                            <option value="Manipur">Manipur </option>
                            <option value="Meghalaya">Meghalaya </option>
                            <option value="Mizoram">Mizoram </option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Punjab">Punjab </option>
                            <option value="Rajasthan">Rajasthan </option>
                            <option value="Sikkim">Sikkim </option>
                            <option value="TamilNadu">Tamil Nadu </option>
                            <option value="Telangana">Telangana </option>
                            <option value="Tripura">Tripura</option>
                            <option value="UttarPradesh">Uttar Pradesh </option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>





                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address Country</label>
                        <input type="text" name="em_AddressCountry" id="em_AddressCountry" ng-model="model.AddressCountry" class="form-control" maxlength="10" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Address Zip</label>
                        <input type="text" name="em_AddressZip" id="em_AddressZip" ng-model="model.AddressZip" class="form-control" maxlength="10" />
                    </div>
                </div>


            </div>
            <p class="midtitle">Joining/Exit Information</p>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Date of Joining</label>
                        <input type="text" name="em_DateOfjoining" id="em_DateOfjoining" ng-model="model.DateOfjoining" class="required form-control" date-Picker />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Probation End Date</label>
                        <input type="text" name="em_ProbationPeriodEndDate" id="em_ProbationPeriodEndDate" ng-model="model.ProbationPeriodEndDate" class="required form-control" date-Picker />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Date of Resignation</label>
                        <input type="text" name="em_DateOfResignation" id="em_DateOfResignation" ng-model="model.DateOfResignation" class="form-control" date-Picker />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Last Working Day</label>
                        <input type="text" name="em_LastWorkingDay" id="em_LastWorkingDay" ng-model="model.LastWorkingDay" class="form-control" maxlength="8" date-Picker />
                    </div>
                </div>

            </div>
            <p class="midtitle">Bank Account Information</p>
            <div class="row">


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Pan Number</label>
                        <input type="text" name="em_PAN" id="em_PAN" ng-model="model.PAN" class="form-control" maxlength="50" />
                    </div>
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Salary Account Number</label>
                        <input type="text" name="em_SalaryAccountNumber" id="em_SalaryAccountNumber" ng-model="model.SalaryAccountNumber" class="form-control" maxlength="50" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Salary Account Bank</label>
                        <input type="text" name="em_SalaryAccountBank" id="em_SalaryAccountBank" ng-model="model.SalaryAccountBank" class="form-control" maxlength="50" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Salary Account Bank Address</label>
                        <input type="text" name="em_SalaryAccountBankAddress" id="em_SalaryAccountBankAddress" ng-model="model.SalaryAccountBankAddress" class="form-control" maxlength="500" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="phoneno">Salary Account IFSC Code</label>
                        <input type="text" name="em_SalaryAccountIFSCCode" id="em_SalaryAccountIFSCCode" ng-model="model.SalaryAccountIFSCCode" class="form-control" maxlength="50" />
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm">Save</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="fb.HideForm(true)">Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
