@*@model System.Web.Mvc.HandleErrorInfo*@
@using ViewModel
@model ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@Model.Summary</h1>
<h2 class="text-danger">@Model.Description</h2>

