@model IEnumerable<Document>

@using Model;
@using HRMS;


<table>
    <tr>
        <th>
            File ID
        </th>
        <th>
            File Name
        </th>
        <th>
            File Download
        </th>
    </tr>
    <tbody>
        
        @foreach (var document in Model)
        { 
        <tr>
            <td>
                @document.DocumentID
            </td>
            <td>
                @document.DocumentName
            </td>
            <td>
                @Html.ActionLink("Download", "Filedownload", new { id= document.DocumentID})
            </td>
        </tr>
        }
    </tbody>
</table>


