
@{
    ViewBag.Title = "Home";
    ViewBag.ActiveTab = "HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="middlewrap">
        <h3 class="title"> <span>Dashboard</span> </h3>  
        
    </div>
</div>
