@model WebTest.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/style.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmForgotPwd" }))
    {
        @Html.AntiForgeryToken()
        <div class="loginwrap row">
            <div class="col-sm-5 loginimg">
                <div class="text-center logimg"><img src="~/Content/images/loginimg2.jpg"></div>
            </div>
            <div class="col-sm-7">
                <div class="loginfrm">
                    <h2><img src="~/Content/images/logo.png">&nbsp;&nbsp;Forgot Password</h2>
                    <div class="form-group">
                        <label>Email</label>
                      
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control required" , @id="Email" ,@name="Email"})
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        <div class="my-error-class">
                            @Html.ValidationMessage("Error")
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-sm"  name="frmForgotPwd" id="frmForgotPwd" value="Email Link" />
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            $("#frmForgotPwd").validate({
                errorClass: "my-error-class",
                rules: {
                    Email: "required"                   
                },
                messages: {
                    Email: "Email required"
                }
            });
        });
    </script>
</body>
</html>

<style>
    .my-error-class {
        color: red;
    }
</style>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


