@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="loginwrap row">
        <div class="col-sm-4 loginimg">
            <div class="text-center logimg"><img src="~/Content/images/loginimg2.jpg"></div>
        </div>
        <div class="col-sm-8">
            <div class="loginfrm">
                <h2><img src="~/Content/images/logo.png">&nbsp;&nbsp;Confirmation</h2>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>

</body>
</html>

