@using HRMS.Controllers
@model ViewModel.MasterViewModel
@using Model
@{
    ViewBag.Title = "Manage Employee Status";
    ViewBag.ActiveTab = "ADMIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderIncludes
{
    <script type="text/javascript" src="~/Scripts/Services/EmployeeStatusHistoryService.js"></script>
    <script type="text/javascript" src="~/Scripts/Services/EmployeeStatusHistoryExtendService.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/EmployeeStatusHistoryController.js"></script>
}
<div class="container">
    <div class="middlewrap">
        
        @Html.Partial("~/Views/Controls/EmployeeStatusHistoryListView.cshtml")
        @Html.Partial("~/Views/Controls/EmployeeStatusHistoryDetailsView.cshtml")
        @Html.Partial("~/Views/Controls/EmployeeStatusHistoryEditView.cshtml")
    </div>
</div>




