
@model ViewModel.MasterViewModel
@using Model

@{
    ViewBag.Title = "HolidayCalendars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderIncludes
{
  <script type="text/javascript" src="/Scripts/Services/HolidayCalendarService.js"></script>
  <script type="text/javascript" src="/Scripts/Controllers/HolidayCalendarController.js"></script>
}
<h3 class="title"> <span>Holiday Calendars</span> </h3>  
@Html.Partial("~/Views/Controls/HolidayCalendarListView.cshtml")

@Html.Partial("~/Views/Controls/HolidayCalendarDetailsView.cshtml")
      
      
      
  